
<div class="container">
    <div class="row">
        <div class="col" style="margin-top:20px">
                <h1 style="display: inline;">{{nombreDetalle  | uppercase }}</h1> <!--Fuente: https://www.w3schools.com/jsref/jsref_touppercase.asp-->
                <h1 style="display: inline; font-size: 25px;"> ({{ aparicionDetalle | date: 'y' }})</h1>
        </div>
    </div>
</div>


<div class="container">
<div class="row ">
        <div class="col-4">
            <img src={{imgDetalle}} class="card-img-top">
            <button type="button" [routerLink] = "['/heroe']"class="btn btn-outline-danger" style="width: 400px; margin-top:30px;">Regresar</button>
        </div>

        <div class="col-8">
                    <h1>{{nombreDetalle}}</h1>
                    <hr class="solid"> <!--Fuente: https://www.w3schools.com/howto/howto_css_dividers.asp-->
                    <p>{{bioDetalle}}</p>

                    <!--CONDICIÓN IF CON THEN/ELSE-->
                    <ng-container 
                        *ngIf="casaDetalle == 'DC'; then DC; else Marvel"> <!--Creamos la condición-->
                    </ng-container>
                    <ng-template #DC> <!--then-->
                        <img src= "assets/img/DC.jpg" style="width:300px; height:300px;" alt="DC">
                    </ng-template>
                    <ng-template #Marvel> <!--else-->
                        <img src= "assets/img/marvel.png" style="width:400px; height:400px; margin-top:-70px;" alt="Marvel">
                    </ng-template>
        </div>
    </div>
</div>