<nav class="navbar">
      <a class="navbar-brand">
        <img src="assets/img/A-64.png" width="30" height="30" alt="A-64" >
        <ul class="navbar-nav" style="display:inline;">
            <li class="nav-item"> 
              <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="activo" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" [routerLink]="['/heroes']" routerLinkActive="activo" href="#">Heroes</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" [routerLink]="['/about']" routerLinkActive="activo" href="#">About</a>
            </li>
      </ul>
      </a>
      
        <form role="search">
          <!--Decimos que este input es una variable llamada textobusqueda. Ponemos textobusqueda.value porque en textobusqueda se guardan muchos atributos distintos.-->
          <input class="form-control ms-sm-2" type="search" placeholder="Escribe un héroe" aria-label="Search" (keyup)="cargar(textobusqueda.value)" (keypress)="regresar()" #textobusqueda>
          <!-- Un botton puede ser un submit o un button. Si es submit, te está enviando un formulario.
          Es decir, aparte de la acción de enviar, te valida. si sólo queremos enviar, button.-->
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscar()">Búsqueda</button>
        </form>
</nav>


