#HeroesTitulo{
    font-size: 40px;
    display:inline-block;
    font-weight: bold;
}

#MarvelDCTitulo{
    font-size: 30px;
    font-weight: normal;
}

#stylecard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}