<div class="container" style="margin-top:1%">
    <div id="HeroesTitulo">Héroes <span id="MarvelDCTitulo">Home</span></div>
    <hr class="hr" style="margin-top:7px"/>

    <p style="font-style:arial;"><span style="color:blueviolet; font-weight:normal;">DC vs Marvel</span> / Marvel vs DC Comics (DC vs. Marvel / Superman vs. Hulk / Batman vs. Spider-Man / Wonder Woman vs. Wolverine) 
        es una serie limitada de cómics publicada por Marvel y DC Comics en 1996. La primera serie fue escrita por Ron Marz y Peter 
        David, y dibujada por Dan Jurgens y Claudio Castellini. En la serie, compuesta de cuatro tomos, los héroes y villanos de 
        cada compañía se enfrentan entre sí para decidir qué universo es el mejor y en consecuencia, cuál de las dos editoriales debe 
        sobrevivir.</p>
    <p style="font-weight:lighter; font-style: italic;">
        En 1996, la miniserie ganó el Comics Buyer's Guide Fan Award como la mejor Serie Limitada. 
        Esta miniserie es el arco argumental para el lanzamiento de la Línea Amalgam.</p>
</div>