
<div id="stylecont" class="container">
  <div id="HeroesTitulo">Héroes <span id="MarvelDCTitulo">Marvel y DC</span></div>
  <hr class="hr" style="margin-top:7px"/>
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <ng-container 
    *ngIf="arrayHeroes.length > 0; then BusquedaCorrecta; else BusquedaIncorrecta"> <!--Creamos la condición.-->
    </ng-container>
  
    <ng-template #BusquedaCorrecta> <!--then: se muestran todos los héroes encontrados-->
        <div *ngFor="let item of arrayHeroes">
          <div class="col">
            <div id="stylecard" class="card">
              <img src={{item.img}} class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.nombre | titlecase }}</h5>
                <p>{{item.bio}}</p>
                <p style="color:grey">{{item.aparicion}}</p>
                <div class="d-grid gap-2">
                  <button type="button" [routerLink] = "['/heroe', item.id]" class="btn btn-outline-primary">Ver más...</button>
                </div>
              </div>
            </div>
            </div>
      </div>
    </ng-template>

    <ng-template #BusquedaIncorrecta> <!--else-->
      <p>No se ha encontrado tu búsqueda.</p>
    </ng-template>
  </div>
</div>